@import url('https://fonts.googleapis.com/css?family=PT+Sans|Quicksand');
/* CSS variables */
:root {
  --primary-color: #b90415;
  --primary-color-hover: #d3071b;
  --secondary-color: #103063;
  --secondary-color-hover: #143f85;
  --light-color: #f4f4f4;
}

body {
  font-family: "Pt Sans";
  background-color: #fff;
  margin: 0;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #ccc;
}

/* Section */
.Section {
  padding: 2rem;
}

.section-head {
  font-size: 2.5rem;
  margin:0;
}

.section h2{
  font-size: 2.5rem;
}

.section h3{
  font-size: 1.7rem;
}


/* Showcase */
#showcase {
  margin: 0;
  padding: 0;
  background: url(https://pp.userapi.com/c850124/v850124278/72757/C9JUefiWbDo.jpg) no-repeat
  center/cover;
  width:100%;
  height:100vh;
  position: relative;
  overflow-y: hidden;
  color: #fff;
  text-shadow: 2px 1px 2px #444;
}

#showcase .container {
  margin-top: 25vh;
  height: 100vh;
  background-color: red;
}

#showcase h1{
  font-size: 4rem;
  margin-bottom: 0;
}

#showcase h2 {
  font-size: 2rem;
}

/* Mission */
#Mission {
  /* background-color: red; */
  margin: 0;
  padding: 0;
  padding-bottom: 4rem;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/textured_stripes.png);
  width:100%;
  height: auto;
  position: relative;
  overflow-y: hidden;

}

#mission h2 {
 margin-top: 3rem;
}

/* Video section */
section#videos h1 {
  padding-top: 3rem;
}

section#videos h2 {
  padding-top: 1.5rem;
  font-size: 20pt;
}

section#videos h3 {
  padding-top: 1.5rem;
  font-size: 18pt;
}

.video-link#puzzle {
  background-image: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)), url('http://www.x-wars.fr/wp-content/uploads/2018/01/img-thing.jpeg');
  border-radius: 4px;
}

.video-link#water {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('https://us.123rf.com/450wm/anyata/anyata1605/anyata160500058/57352449-black-marker-drawn-simple-water-drops-hand-drawn-with-paint-brush-seamless-background-abstract-textu.jpg?ver=6');
  border-radius: 4px;
}

.video-link#banana {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('https://thumbs.dreamstime.com/t/seamless-pattern-cartoon-bananas-drawn-fruit-white-back-background-eco-texture-color-books-86785338.jpg');
  border-radius: 4px;
}

section#videos iframe {
  width: 560;
  height: 315;
}


/* Pets Section*/
section#pets {
  background-color: #222;
  color: #fff;
}

div.grid {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

div.flexbox {
  width: 50%;
  height: 45vh;
  overflow: hidden;
}

div.coon-box {
  height: 100%;
  position: relative;
}
div.coon-box::after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  transition: opacity 0.5s, visibility 0.5s;
}
div.coon-box:hover {
}
div.coon-box:hover::after {
  opacity: 0.25;
  transition: opacity 0.5s, visibility 0.5s;
}

.large-text-box {
  position: relative;
  z-index: 2;
}

.small-text-box {
  height: 100%;
  position: relative;
  z-index: 1;
  background-color: black;
}

div#justcoon::after {
  background: url('https://doorcountypulse.com/wp-content/uploads/2018/03/1-PP-3-9-18-Raccoon-at-cracked-corn-660x440.jpg');
  background-repeat: no-repeat;
  background-position: 40%;
}
div#cutecoon::after {
  background-image: url('http://i.imgur.com/mbAEM.jpg');
  background-repeat: no-repeat;
  background-position: 40% 0px;
}
div#japancoon::after {
  background-image: url('https://i.pinimg.com/originals/37/d9/8a/37d98aa27c933f00aa90e5b6b682a6e4.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 590px;
}
div#blondecoon::after {
  background-image: url('https://usercontent1.hubstatic.com/5417640_f1024.jpg');
  background-repeat: no-repeat;
  background-position: 40%;
  background-size: 700px;
}
div#fatcoon::after {
  background-image: url('http://review-planet.ru/wp-content/uploads/2012/04/327.jpg');
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: 600px;
}
div#evilcoon::after {
  background-image: url('https://l56spuxk1t14k3seci6s2bja-wpengine.netdna-ssl.com/wp-content/uploads/meme/2014/12/-Evil-Plotting-Raccoon-MEME-2015.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 680px;
}
div#ragecoon::after {
  background-image: url('https://www.sideshowtoy.com/wp-content/uploads/2017/08/marvel-guardians-of-the-galaxy-vol-2-rocket-deluxe-version-sixth-scale-hot-toys-feature902965-740x448.jpg');
  background-repeat: no-repeat;
  background-position: 100%;
}
div#notcoon::after {
  background-image: url('http://hronika.info/uploads/posts/2018-07/1530628491_lemur.jpg');
  background-repeat: no-repeat;
  background-position: 40%;
  background-size: 850px;
}

.flexbox#one {
  background-color: #D3D3D3;
}
.flexbox#two {
  background-color: #FFC0CB;
}
.flexbox#three {
  background-color: #A52A2A;
}
.flexbox#four {
  background-color: #FFDEAD;
}
.flexbox#five {
  background-color: #DDA0DD;
}
.flexbox#six {
  background-color: #D2691E;
}
.flexbox#seven {
  background-color: #FF0000;
}
.flexbox#eight {
  background-color: #4682B4;
}

.large-text {
  font-size: 2rem;
  color: #fff;
  text-shadow: 2px 1px 2px #444;
}

.small-text {
  padding: 8rem 5rem;
  font-size: 1.3rem;
  color: #fff;
  text-shadow: 2px 1px 2px #444;
}

section#pets #container {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

@media screen and (max-width: 1024px) {
  div.grid {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  div.flexbox {
    width: 100%;
    height: 45vh;
    overflow: hidden;
  }

  .small-text {
    padding: 5rem 1rem;
    font-size: 1.3rem;
    color: #fff;
    text-shadow: 2px 1px 2px #444;
  }
}


/* Order section */
section#order {
position:relative;
background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.15)), url('https://pp.userapi.com/c846017/v846017002/13ac77/DNLuleg-FYg.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center center;

text-shadow: 1px 1px 2px #fff;
}


section#order h1 {
  padding-top: 3rem;
}

section#order h3 {
  font-size: 3rem;
  margin: 0;
}

input#email {
  height: 3vh;
}

section#order button {
  margin-top: 1rem;
  width: 270px;
  height: auto;
  background: none;
  border-style: dashed;
  font-weight: bolder;
  font-family: 'Quicksand';
  font-size: 16pt;
}
img#coon-emoji {
  width: 40px;
  height: 40px;
}

section#order input#submit {
  display:none;
}

/* Footer */
#footer {
  background-color: #000;
  color: #fff;
  font-family: 'Quicksand';
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
}

.footer-links {
  display: inline;
  float: center;
  margin: 0;
  padding: 0;
}

section#footer a {
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  padding: 11px 0px;
  font-size: 22px;
  color: #ddd;
  margin: 11px 1.5vw;
}
section#footer a:hover {
  color: #fff;
}

#copyright {
  width: 100%;
  height: auto;
  background-color: #101010;
  text-align: center;
  padding: 11px 0px;
  color: #ccc;
}



/* Utility classes */
.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.lead {
  font-size: 1.3rem;
}


/* Buttons */
.btn {
  padding: 1rem;
  color: #eee;
  display: inline-block;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color-hover);
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-secondary:hover {
  background-color: var(--secondary-color-hover);
}
/* Text colors */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-light {
  color: var(--light-color);
}

.mb {
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
}



/* nav-bar */
nav {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #eee;
}

nav ul{
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  float: left;
}

nav a {
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  padding: 8px 0;
  margin: 0% 3vw;
  /* margin: 0px 50px; */
  color: #eee;
  font-family: 'Quicksand';
  font-size: 22px;
}

nav a#openup {
  display: none;
}
nav a:hover {
  color: #fff;
}

#header-img {
  display: inline-block;
  height: 40px;
  width: 100%;
  margin-right: 10vw;
  width: auto;
}

@media screen and (max-width: 1024px) {
  .hide-on-small {
    display:none;
  }

  .container {
    padding: 0 1.5rem;
  }

  #showcase {
    height: 50vh;
  }

  #showcace .container {
    margin-top: 15vh;
  }

  #showcase h1{
    font-size: 3rem;
  }

  #showcase h2{
    font-size: 1.5rem;
  }

  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: 19rem;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #000;
    border-bottom: 1px solid #555;
  }
  nav a:hover {
    color: #fff;
  }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 40px;
    display: inline-block;
    position: absolute;
    right: 80px;
    top: 23px;
  }
  nav a#openup {
    display: block;
    background-color: #000;
    width: 100%;
    position: relative;
  }

  section#videos iframe {
    width: 80%;
    height: auto;
  }

  section#footer a {
    width: auto;
    text-align: center;
    padding: 11px 0px;
    font-size: 13px;
    color: #ddd;
    margin: 11px 1.5vw;
  }
  section#footer a:hover {
    color: #fff;
  }

  #copyright {
    padding: 11px 0px;
    color: #ccc;
    font-size: 15px;
  }

}

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}



/* TODO:
DONE HEADER OVER COON PICTURE */
/* done with z-index */
/* DONE CENTER TEXT IN COONBOXES */
/* MAKE NAV AND FOOTER ITEMS RESPONSOVE */
/* OPTIMIZE FOR PHONES */
/* MAKE IMAGES IN FLEXBOX RESPONSIVE */
/* MAKE NAV-BAR AND FOOTER LARGER */
/* MAKE FONTS LARGER */
/* FIX FOOTER */
